@import "./index/index";
@import "./responsive/responsive.scss";
@import "./cafeteria/cafeteria";
@import "./desayunos/desayunos";
@import "./promos/promos";
@import "./tortas/food";
@import "header";
@import "main";
@import "footer";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}