
// FOOD
.main-food {
    background-image: radial-gradient(ellipse 660px 660px,#ff080083, #c70c2865);
}

.contenedor-food {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    margin: 30px;
    padding: 30px;
    width: 80%;
    text-align: center;
   
    color: white;
}


.caja-food:hover {
    transform: scale(1.2);
}

.footer-food {
    font-size: 30px;
    text-align: center;
    position: relative;
    background-color: rosybrown;
    padding-top: 20px;
    bottom: 0;
}