


/* INDEX HTML*/
@media(max-width: 600px) {
 

    .carta {
        text-decoration: none;
        display: flex;
        border: 1px solid #1a2529;
        width: 250px;
        height: 110px;
        text-align: center;
        padding-top: 18px;
        background-color: pink;
        font-family: Arial, Helvetica, sans-serif;
        transition: 2s;
        -webkit-transition: 2s;
        -o-transition: 2s;
        -moz-transition: 2s;
        -ms-transition: 2s;
        box-shadow: -3px 3px 50px #000;
        justify-content: center;
        margin-bottom: 40px;
        text-transform: uppercase;
    
    } 

}

   

/* DESAYUNOS HTML*/
@media(max-width: 600px) {
    div.grid-layout{
        display: block;
    }

header.header-desayunos{
    position: relative;
    width: 100%;
}
h1.titulo-desayunos{
    text-align: center;
    font-size: 40px;
}
}

/* cafeteria HTML*/
@media(max-width: 600px) {
 div.cafeteria{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
 }
 div.coffeebox{
    width: 80%;
    margin-bottom: 2rem;
    font-size: 20px;

 }
 div.coffeebox img{
    width: 90px;
    height: 90px;
 }

 .cafeteria h2{
    font-size: 28px;
 }


}

/*FOOD HTML*/
@media(max-width: 600px){

    div.contenedor-food{
        display: block;
      font-size: 16px;

    }
    .caja-food{
        margin-bottom: 80px;
    }

}

/* PROMOS HTML*/
@media(max-width: 600px) {
   div.grid-promos{
    display: block;
}
div.contenedor-comida{
    display: block;
    text-align: center;
}

}

