// desayunos
.desayunos {
    background-image: linear-gradient(rosybrown, rgb(212, 77, 151), );
}

.grid-layout{
    
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 400px 400px 400px;
    justify-content: center;
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    .caja {
        text-align: center;
        margin: 25px;
      
    }
    
    .img-desayunos {
        width: 60%;
        height: 60%;
    }
    
    .titulo-desayuno {
        font-size: 30px;
        padding: 0;
        margin: 0;
    }

}

